# .flake8
[flake8]
select = B, B9, BLK, C, E, F, I, S, w
ignore = E203, W503, W501
max-complexity = 10
max-line-length = 80
application-import-names = scheduler, tests
import-order-style = google
per-file-ignores = tests/*:S101
